<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>🥳🥳🥳</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myCommProject</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxac7f360237a214cc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>访问媒体资料库以获取媒体资料</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>访问蓝牙以连接设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>访问蓝牙以连接设备</string>
	<key>NSCalendarsUsageDescription</key>
	<string>访问日历以用于获取待办事项</string>
	<key>NSCameraUsageDescription</key>
	<string>访问相机以拍摄图片</string>
	<key>NSContactsUsageDescription</key>
	<string>访问通讯录以获取使用该应用的联系人</string>
	<key>NSFaceIDUsageDescription</key>
	<string>访问Face ID以验证身份</string>
	<key>NSHealthShareUsageDescription</key>
	<string>访问健康以获取运动信息</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>访问健康以获取运动信息</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>定位以获取所在区域</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>定位以获取所在区域</string>
	<key>NSLocationUsageDescription</key>
	<string>定位以获取所在区域</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>定位以获取所在区域</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>访问麦克风以用于语音输入</string>
	<key>NSMotionUsageDescription</key>
	<string>访问传感器以获取设备状态</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>访问相册以保存图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>访问相册以获取图片</string>
	<key>NSRemindersUsageDescription</key>
	<string>同意以获得消息推送及提醒事项</string>
	<key>NSSiriUsageDescription</key>
	<string>访问Siri以通过Siri控制设备</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>访问语音识别以捕捉语音</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>kTCCServiceMediaLibrary</key>
	<string>访问音乐以分享音频</string>
</dict>
</plist>
